<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>330657200681-8ju2610164ngg9hbvotmj8s0bf4colb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330657200681-8ju2610164ngg9hbvotmj8s0bf4colb9</string>
	<key>API_KEY</key>
	<string>AIzaSyDrlXwj5caZWAr_8WZi_Ilhfsn2L3xNEOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>330657200681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royberner.PushFun</string>
	<key>PROJECT_ID</key>
	<string>pushfun-6c7c9</string>
	<key>STORAGE_BUCKET</key>
	<string>pushfun-6c7c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330657200681:ios:e25a6f04e2e458ef</string>
	<key>DATABASE_URL</key>
	<string>https://pushfun-6c7c9.firebaseio.com</string>
</dict>
</plist>